USE [master]
GO
/****** Object:  Database [Utiles]    Script Date: 24/11/2022 18:09:41 ******/
CREATE DATABASE [Utiles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Utiles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Utiles.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Utiles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Utiles_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Utiles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Utiles]
GO
/****** Object:  Table [dbo].[Cartuchera1]    Script Date: 24/11/2022 18:09:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cartuchera1](
	[Nombre] [nvarchar](50) NOT NULL,
	[Precio] [float] NOT NULL,
	[Marca] [nvarchar](50) NOT NULL,
	[Caracteristica] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
USE [master]
GO
